<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista de Psicologos</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1>Lista de Psicologos</h1>
    <ul>
      {%for psicologa in object_list%}
      <li>{{psicologa.nome}} - <a href="{% url 'Psicologa:update' pk=psicologa.id %}">editar</a>
        <a href="{% url 'Psicologa:detail' pk=psicologa.id %}">visualizar</a>
        <a href="{% url 'Psicologa:delete' pk=psicologa.id %}">deletar</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>